---

import BaseLayout from "../../layouts/BaseLayout.astro"
const pageTitle = "Admin Login"
const context = Astro.cookies.get('admin')?.value
export const prerender = false;

---

<BaseLayout pageTitle={pageTitle}  >


<div class="flex gap-2">
<form method="POST" action="../api/login" class="">
  <input type="password" name="password" placeholder="Enter admin password" required />
  <button  class= "w-20 " type="submit">Login</button>
</form>

<form id= "logout-button" method="GET" action="../api/logout">
  <button type="submit">Logout</button>
</form>
</div>


<p class= "text-right text-sm p underline" >   Logged in - {context ? "true" : "false"} </p>



</BaseLayout>


<script>

const form = document.querySelector('form');
if (form) {
  form.addEventListener('submit', async (event) => {
    event.preventDefault(); 
    const formData = new FormData(form);

    const res = await fetch('/api/login', {
      method: 'POST',
      body: formData,
    });

    const result = await res.json();

    if (result.success) {
      window.location.href = '/admin/comments'; 
    } else {
      alert('Incorrect password');
    }
  });
}
</script>
<style>

    button {
        background-color:  var(--white-background-color);
        padding: 1rem;
        border-radius: 10px;
        border: 1px solid gray;
    }

  


    input {
        outline: none;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 1rem;

    }

      html.dark button {
       background-color:  var(--background-dark-light-color);

    }

    html.dark input {
       background-color:  var(--background-dark-light-color);

    }

</style>