@import "tailwindcss";
@import './fonts.css';



* {
  
  box-sizing: border-box;
}


html {
    
    
    --background-color: #f4e7e1;
    font-family: 'Gabarito', sans-serif;
    background-color: var(--background-color);
 
    --icon-color: rgb(0, 0, 0);
   
  }
  
  body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    padding: 1rem;
    

    line-height: 1.5;
  }
  main { 
    flex: 1;
  
  }
  

  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    text-align: center;
  }
  h2 {
    font-size: 1.7rem;
    
    
  }

  p {
    font-size: 1.1rem;
    word-spacing: -0.5px;
  }






.nav-links {

  
  width: 100%;
  top: 5rem;
  left: 48px;
 
  display: none;
  margin: 0;
}

.nav-links a {
  
 
  display: block;
  padding: 10px 0;
 
  font-size: 1.2rem;
  
  text-transform: uppercase;
}



.expanded {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  padding: 1rem;
  
  left: 0;
  top: 30;
  background-color: var(--background-color);
  
  z-index: 2;
  
  

  
 


}

.social-link {
  
  transition: 0.3s cubic-bezier(.22,.53,.51,.92);
}


.social-link:hover {

  scale: 1.1;
  
  

}

.hamburger {

  position: absolute;
  top:0;
  right: 0;
  
  padding: 1rem;
  cursor: pointer;
  transform:scale(0.75)
}

.hamburger .line {
  display: block;
  width: 2.5rem;
  height: 5px;
  margin-bottom: 0.5rem;
  background-color: #d8d1cf;
  border-radius: 5px;
}






/* When the screen's width is atleast X pixels, the web page will render with the styles below */
@media screen and (min-width: 636px) {

 
  body {

    max-width: 80ch;
    
  }

  h1 {
    text-align: left;
  }

  .hamburger {
    display: none;
  }

  .nav-links {
    position: static;
    margin-left: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    background-color: transparent;
    border: none;
  

  }

  .nav-links a {
   
    font-size: 1.05rem;
    padding: 5px;
    margin-right: 1rem;
  }




}



/* Dark Mode */
html.dark {
  background-color: #292927;
  color: #f9f9f4;
}

html.dark .nav-links {
  background-color: #292927;
  
}



html.dark  a {
  color: #f9f9f4;
}

html.dark .social-link {
  color: #f9f9f4;

}

html.dark .icon-container {
  color: white;

}




html.dark .dark-container {
  position: relative;
  border-color: rgb(71, 71, 68);
  background-color: hsl(30, 2%, 25%);
  border-radius: 4% 2% 73.5% 73.5% / 72% 20% 3.5% 2.5%;
  border-width: 2px;
  box-shadow: 2px 2px 0  rgba(148, 144, 144, 0.943);

}

html.dark .dark-container:hover  {
  box-shadow: 3px 3px 0   rgba(224, 221, 221, 0.943);
}


html.dark .svg-icon {
  filter: invert(1);

}