@import "tailwindcss";
@import './fonts.css';


html {
    
    
    background-color: #f4e7e1;
    font-family: 'Gabarito', sans-serif;
   
  }
  
  body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
  main { 
    flex: 1
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
  h2 {
   
    font-size: 1.7rem;
  }
  p {
    font-size: 1.2rem;
    word-spacing: -0.5px;
  }


  footer {
    background-color:
  }


.expanded {
  display: unset;
}

.nav-links {
  
  display: flex;
  flex-direction: row;
}




/* When the screen's width is atleast X pixels, the web page will render with the styles below */
@media screen and (min-width: 636px) {
  
  

}

html.dark {
  background-color:#191B19;
  color: #fff;
}

.dark .nav-links a   {
  color: #ebeaea;
}




