@import "tailwindcss";
@import './fonts.css';



* {
  
  box-sizing: border-box;
}


html {
    
    
    --background-color: #f4e7e1;
    --white-background-color: rgba(241, 234, 234, 0.943);
    --dark-border-color:  hsl(45, 2%, 34%);
    --background-dark-color: #292927;
    --background-dark-light-color: hsl(30, 2%, 25%);
    --secondary-green: #008000;
    --secondary-light-green: #0080003f;
    --tertiary-light-green: #03a2031d;
    --dark-white-color: #f9f9f4;
    --light-mode-anchor: #0077cc;
    --dark-mode-anchor: 	#4a9ef3f4;
    --soil-color: hsl(31, 82%, 11%);
    --light-soil-color: hsl(48,57%,20%);
    --soil-color-light: #228B22;
    font-family: 'Gabarito', sans-serif;
    background-color: var(--background-color);
 
    --icon-color: rgb(0, 0, 0);
   
  }
  
  body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    padding: 1.2rem;
    line-height: 1.5;
  }
  main { 
    flex: 1;

  
  
  }
  

  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    text-align: center;
  }
  h2 {
    font-size: 1.7rem;
    
    
  }

  p {
    font-size: 1.1rem;
    word-spacing: -0.5px;
  }


  .secondary-a {
    color: var(--light-mode-anchor);
  
  }



.nav-links {
  

 
 
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;
}

.nav-links a {
  
 
  display: inline-block;
  padding: 10px 0;
  width: 5rem;
  margin: 0;
 
  font-size: 1.2rem;
  
  text-transform: uppercase;
}

footer { 
  backdrop-filter: blur(4px);
  box-shadow: 4px 0 px 12px rgba(0, 0, 0, 0.1);
}



.nav-link-container {
  display: flex;
  flex-direction: column;
 
  border-color: rgb(48, 48, 47);
  padding: 0.5rem;
  width: 10rem;
  height: 4rem;
  font-size: 1rem;
  margin: 0 auto;
  background-color: var(--white-background-color);
  border-radius: 55.5% 50.5% 49.5% 53% / 1% 1% 1% 1%;
  border-width: 2px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);


}
.expanded {
  display: flex;       
 
  
  flex-direction: column;
  justify-content: start;
  text-align: right;
  gap: 3rem;
  background-color: var(--background-color);
  border-top: 1px rgb(158, 147, 147) solid;

  margin-left: -1.5rem;
  padding: 1rem;
  width: 100vw;
  height: 150vw;
  position: absolute;            
  left: 0;
  
  animation: fadeIn 0.2s ease-in-out forwards;

 

  z-index: 3; 

}


.expanded a {
  width: 100%;
}

.expanded a:hover {
  color: var(--soil-color);
  
  
}
  

.fade-in {
  animation: fadeIn 0.2s ease-in-out forwards;
}
.fade-out {
  animation: fadeOut 0.2s ease-in-out forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}





.social-link:hover {

  scale: 1.1;
 
  
  

}

.hamburger {

  position: absolute;
  top:0;
  right: 0;
  
  padding: 1rem;
  cursor: pointer;
  transform:scale(0.75)
}

.hamburger .line {
  display: block;
  width: 2.5rem;
  height: 5px;
  margin-bottom: 0.5rem;
  background-color: var(--soil-color);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.hamburger.active .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

hr {
  width: 25%;
  border: 1;
  margin: 0 auto;


}






/* When the screen's width is atleast X pixels, the web page will render with the styles below */
@media screen and (min-width: 636px) {

 
  body {

    max-width: 80ch;
    
  }

  h1 {
    text-align: left;
  }


  .hamburger {
    display: none;
  }

  .nav-links {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0.1rem;
    width: 45%;
    background-color: transparent;
    border: none;
    height: auto;
    margin: 0;
    
  

  }

  .nav-links a {
   
    font-size: 1.05rem;
    margin-right: 0.5rem;
    text-decoration: none;
  }





  .draw-line {
 
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: stroke-dashoffset 0.35s linear;
  }

  a:hover svg .draw-line {
      stroke-dashoffset: 0;
    }

  html.dark .draw-line {
      stroke: hsla(0, 0%, 100%, 0.886)
    }




}



/* Dark Mode */
html.dark {
  background-color:  var(--background-dark-color);
  color: #f9f9f4;
}

html.dark .nav-links {
  background-color: var(--background-dark-color);
  
 
  
}



html.dark .secondary-a {
  color: var(--dark-mode-anchor);
  
}



html.dark .social-link {
  color: #f9f9f4;

}

html.dark .icon-container {
  color: white;

}








html.dark .dark-container {
  position: relative;
  border-color: rgb(71, 71, 68);
  background-color: hsl(30, 2%, 25%);
  border-radius: 4% 2% 73.5% 73.5% / 72% 20% 3.5% 2.5%;
  border-width: 2px;
  box-shadow: 2px 2px 0  rgba(148, 144, 144, 0.943);

}

html.dark .dark-container:hover  {
  box-shadow: 4px 4px 0   rgba(224, 221, 221, 0.943);
}

html.dark .hamburger .line {
  background-color: var(--dark-white-color);
}




html.dark .svg-icon {
  filter: invert(0.9);

}

html.dark .expanded a:hover {
  color: var(--soil-color-light);

}


html.dark .nav-link-container {
  background-color: var(--background-dark-color);
  color: var(--dark-white-color);
  border: 1px solid var(--dark-white-color);
}