---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "Tag Index";
const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];

---
<!-- /tags/ page -->
<BaseLayout pageTitle={pageTitle}>
  <div class=" ">
    <div>
      <ul>
        {tags.map((tag) => (
          <li class="tag">
            <a class= "underline"href={`/tags/${tag}`}>#{tag}</a>
          </li>
        ))}

    </div>
</BaseLayout>
