---

import BaseLayout  from '../layouts/BaseLayout.astro';
import SkillGraph from '../components/SkillGraph.astro';
import Separator from '../components/Separator.astro';
import '../styles/global.css';
const pageTitle = "Page Not Found";



---

<BaseLayout pageTitle={pageTitle}>
	

	    <h3> You seem to have lost your way. </h3>
		<p class="text-justify  "> 
			Retrace your steps at the  <a class="secondary-a  no-underline font-bold hover:underline" href="/" > homepage</a>.
		 </p>
		
		

			
	
</BaseLayout>
