---

import BaseLayout  from '../layouts/BaseLayout.astro';

import '../styles/global.css';
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
	<body> 
		
		<h2> A little more</h2>
		

		
	

		<h2> Anywhere, anytime.</h2>

		



		


	
		<script>

			
		</script>
	</body>
</BaseLayout>