---

import BaseLayout  from '../layouts/BaseLayout.astro';
import SkillGraph from '../components/SkillGraph.astro';
import Separator from '../components/Separator.astro';
import '../styles/global.css';
const pageTitle = "About";



---

<BaseLayout pageTitle={pageTitle}>
	

	    <h2> A little more </h2>
		<p class="text-justify  "> 
			Teaching English in Japan for 5 years and recycling the same material, I realized that I could use technology to make learning more engaging for students - like through games. That insight got me hooked
			on the general idea of using programming to support learning. Building a project that can somehow faciliate skill development is the reason I keep going. It's an activity I can do anytime and anywhere.
		 </p>
		<SkillGraph/>
	
		<Separator/>
		<h2> Contact </h2>

		
		<p> If you have any constructive feedback,  suggestions, questions, feel free to reach out via  <a class="secondary-a  no-underline font-bold hover:underline" href="mailto:joseph.farah100@gmail.com" > e-mail</a>. I'll be glad to learn from you. </p>

			
	
</BaseLayout>

