---

import BaseLayout  from '../layouts/BaseLayout.astro';
import SkillGraph from '../components/SkillGraph.astro';
import Separator from '../components/Separator.astro';
import '../styles/global.css';
const pageTitle = "About";



---

<BaseLayout pageTitle={pageTitle}>
	

	    <h2> A little more </h2>
		<p> 
			Pouring effort into a project that can facilitate skill development for everyone is the reason I keep going. Project-based programming is an activity I can do anytime and anywhere.
		 </p>
		<SkillGraph/>
	
		<Separator/>
		<h2> Contact </h2>

		
		<p> If you have any constructive feedback,  suggestions, questions, feel free to reach out via  <a class="secondary-a  no-underline font-bold hover:underline" href="mailto:joseph.farah100@gmail.com" > e-mail</a>. I'll be glad to learn from you. </p>

			
	
</BaseLayout>

