---

import BaseLayout  from '../layouts/BaseLayout.astro';
import SkillGraph from '../components/SkillGraph.astro';
import Separator from '../components/Separator.astro';
import '../styles/global.css';
const pageTitle = "About";



---

<BaseLayout pageTitle={pageTitle}>
	

	    <h2> A little more </h2>
		<p> 
			
			I live life in a way that connects my passions. The graph below highlights the activities I'm drawn to: the ones I can do anytime and anywhere. With experience across many disciplines, and knowing how overwhelming it can be to undertake new endeavors, I aim to create applications that help people develop skills in a fun and straightforward way.
		 </p>
		<SkillGraph/>
	
		<Separator/>
		<h2> Contact </h2>

		
		<p> If you have questions or constructive feedback about my projects or website, feel free to reach out via  <a class="secondary-a  no-underline font-bold hover:underline" href="mailto:joseph.farah100@gmail.com?subject=General%20Inquiry for Joe"> e-mail</a>. I'll be glad to have a conversation with you. </p>

			
	
</BaseLayout>

