---

import BaseLayout  from '../layouts/BaseLayout.astro';
import SkillGraph from '../components/SkillGraph.astro';
import SketchyLine from '../components/SketchyLine.astro';
import '../styles/global.css';
const pageTitle = "About";



---

<BaseLayout pageTitle={pageTitle}>
	

	    <h2> A little more </h2>
		<p class="text-justify  "> 
			Teaching English in Japan for 5 years and recycling the same material, I realized that I could use technology to make learning more engaging for students - like through games. That insight got me hooked
			on the general idea of using programming to support learning. Building a project that can somehow faciliate skill development is the reason I keep going. It's an activity I can do anytime and anywhere.
		 </p>
		<SkillGraph/>
		<p class= "text-right">  <a class="text-[#0077cc] text-base no-underline font-bold hover:underline" href="https://www.youtube.com/@JoeTheLeaf" > Youtube Channel</a>  
		<SketchyLine/>
		<h2> Contact </h2>

		
		<p> If you have any constructive feedback,  suggestions, questions, feel free to reach out via  <a class="text-[#0077cc] no-underline font-bold hover:underline" href="mailto:joseph.farah100@gmail.com" > e-mail</a>. </p>

			
	
</BaseLayout>

