---

import BaseLayout  from '../layouts/BaseLayout.astro';
import SkillGraph from '../components/SkillGraph.astro';
import '../styles/global.css';
const pageTitle = "About";



---

<BaseLayout pageTitle={pageTitle}>
	

	    <h2> A little more </h2>
		<p> After teaching English in Japan for 5 years and recycling the same material, I realized that I could use technology to make learning more engaging - like through games. That insight got me hooked
			on the general idea of using programming to support learning. </p>
		<h2> My philosophy</h2>
		<p> I enjoy activites I can do  anytime and anywhere. Building a project that can somehow faciliate skill development for everyone is the reason I keep going. 
			
		 </p>
		<SkillGraph/>
		<p class= "text-right">  <a class="text-[#0077cc] no-underline font-bold hover:underline" href="https://www.youtube.com/@JoeTheLeaf" >Personal Youtube Channel</a>  

		<h2> Contact </h2>

		
		<p> If you have any constructive feedback,  suggestions, questions, feel free to reach out via  <a class="text-[#0077cc] no-underline font-bold hover:underline" href="mailto:joseph.farah100@gmail.com" > e-mail</a>. </p>


	
		

	
	
	
	
</BaseLayout>

