---

import BaseLayout  from '../layouts/BaseLayout.astro';

import '../styles/global.css';
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
	<body> 
		<h2>I'm human </h2>
		<script>

			
		</script>
	</body>
</BaseLayout>