---
import { getComments} from "../pages/api/fetch_comments"


const { postSlug } = Astro.props;
const comments = await getComments(postSlug)
console.log(comments)


---

<div class="space-y-4 comment-container">
    <h2> Comments </h2>
   
    {
        comments.map((comment) => (
           
            <div class=" ">
                <div class="font-bold">{comment.author}</div>
                <div class="text-sm">
                    {comment.published.toLocaleDateString()}
                </div>
                <div class="mt-2">
                    <p>{comment.body}</p></div>
            </div>
        ))
    }
</div>


<style>

    .comment-container{

      
        

    }
    
</style>


