---
import GithubIcon from "./icons/GithubIcon.astro";
import YoutubeIcon from "./icons/YoutubeIcon.astro";
import SnailIcon from "./icons/SnailIcon.astro";
import Social from "./Social.astro";

const date = new Date();
const dateOptions: Intl.DateTimeFormatOptions = {
  year: 'numeric',
 
};
const formattedDate = date.toLocaleDateString('en-US', dateOptions);
---

<footer class="flex flex-col-reverse md:flex-row justify-between gap-1 my-10 items-center ">
<div class="flex items-center" >


 <p><span class="relative top-0.5"> &copy; </span>  Joseph Farah {formattedDate}</p>
  <SnailIcon/>
</div>
<div class="flex p1 gap-1" >
<a href="https://www.github.com/kangiriyanka">
  
<GithubIcon/>
</a>
<a href="https://www.youtube.com/@JoeTheLeaf">
<YoutubeIcon/>
</a>

</div>
  
</footer>



<style>


  footer {

   

  }
</style>

