
---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from './ThemeIcon.astro';
import SoilIcon from "./icons/SoilIcon.astro";
---

<header > 

    <nav class="flex justify-between items-center">
       
        <SoilIcon/>
        <Navigation />
        <Hamburger />
    
        


    
    </nav>


   



</header>