
---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from './ThemeIcon.astro';
---

<header> 


    <nav class="flex">
    <Hamburger/>
    <Navigation/>
    <ThemeIcon/>
    </nav>


    <style>

        nav {

            background-color: #D5451B;

        }
    </style>



</header>