
---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from './ThemeIcon.astro';
---

<header> 


    <nav class="w-40 flex items-start">
    <Hamburger/>
    <Navigation/>
    <ThemeIcon/>
    </nav>


   



</header>