
---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import SoilIcon from "./icons/SoilIcon.astro";


---

<header > 

    <nav class="relative flex justify-between items-center">
       
        <SoilIcon />
        <Navigation />
        <Hamburger />
    
        
    </nav>


   



</header>