---
import NavigationLink from "./NavigationLink.astro"
---
<div class="nav-links items-end">


<NavigationLink url= "/" text="home"/>
<NavigationLink url= "/about" text="about"/>

<NavigationLink url= "/blog/" text="blog"/>
<NavigationLink url= "/projects" text="projects"/>


</div>




