---
import NavigationLink from "./NavigationLink.astro"
import ThemeIcon from "./ThemeIcon.astro"
import SoilIcon from "./icons/SoilIcon.astro"
---
<div class="nav-links ">

<NavigationLink url= "/blog/" text="blog"/>
<NavigationLink url= "/projects" text="projects"/>
<NavigationLink url= "/about" text="about"/>

<ThemeIcon/>



</div>



<style>

    hr {
        border: 0;
        width: 5rem;
     
    }
</style>




