---
const {url,title, description} = Astro.props;



---



<div class="my-4 p-2  border-l-4 border-gray-600 pl-4  ">
    <li class= "list-none">
     
        <div class="flex flex-col">
          <a href={url} class="text-gray-800 font-semibold hover:underline"><h2>{title}</h2> </a>
         
          
     
        </div>
      </a>
      <div class= "flex"> 
    
        
      </div>
      {description}
   

    </li>
</div>











<style>



</style>