---
const {url,title, description, stack} = Astro.props;
import ReactIcon from "./icons/ReactIcon.astro"
import PythonIcon from "./icons/PythonIcon.astro"
import SwiftIcon from "./icons/SwiftIcon.astro"
import FlaskIcon from "./icons/SwiftIcon.astro"
const iconMap: Record<string, typeof ReactIcon> = {
  react: ReactIcon,
  python: PythonIcon,
  swift: SwiftIcon,


};
const underline = "hsl(30 100% 19.1%)"


---


<a class= "project-card dark-container mb-4  " href={url} >
<div class="my-4 p-2 ">
   
  
        <div class="flex flex-col ">
          <div class="flex justify-between">
          <h2>{title} </h2>
          {stack.map((tech: string) => {
            const IconComponent = iconMap[tech.toLowerCase()];
            return IconComponent ? <IconComponent  /> : null;
          })}
        
         </div>
     
          <div class="flex"> 
          
          </div>
          
         
          
     
        </div>
      
      
     
      {description}

    
  
</div>
</a>


<style>
 .project-card {

  position: relative;
  width: 100%;
  
  border-color: rgb(48, 48, 47);
  background-color: rgba(241, 234, 234, 0.943);
  border-radius: 4% 2% 73.5% 73.5% / 72% 20% 3.5% 2.5%;
  border-width: 2px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.project-card:hover  {
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
}


.project-card:hover h2 {
  text-decoration: underline;
}






  

</style>










<style>



</style>