---
const underline = "hsl(30 100% 19.1%)"
---

<div class="text-center"></div>
<svg width="100%" height="75" viewBox="0 0 30 10" xmlns="http://www.w3.org/2000/svg">
  <!-- 4 close diamonds centered -->
  <polygon points="10,5 11,4 12,5 11,6" fill={underline} />
  <polygon points="13,5 14,4 15,5 14,6" fill={underline} />
  <polygon points="16,5 17,4 18,5 17,6" fill={underline} />

</svg>
</div>