---

---



<div id= "chart-container" class="graph-container">

  <span class="custom-text"> いつでもどこでも - 언제든지 어디든지</span>
  
</div> 



<script>
  import forcegraph from "../scripts/forcegraph.js";
  const container = document.getElementById("chart-container");
  const svgElement = forcegraph;
  if (container) {

  container.appendChild(svgElement);
  container.classList.add("graph-container");
  } else {
    console.error("Container not found");

    console.error("Container not found");
}

</script>


<style>
  .graph-container {
  margin-top: 1rem;

  border-radius: 2% 2% 73.5% 73.5% / 7% 20% 3.5% 2.5%;
  border-color: rgb(48, 48, 47);
  border-width: 1px;

  background-color: rgba(228, 223, 223, 0.943);
  }
.custom-text {
  position:relative;
  top: 1rem;
  left: 1rem;
   
 
}

 

  html.dark .graph-container {
    background-color: rgba(48, 48, 47, 0.943);
    border-color: rgb(241, 234, 234);
  }
 


  






</style>