---
// Props: platform: string, username: string
const { platform, username, image } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>
  <img class= "w-12 h-10 mx-1 "src = {image} alt= {platform}>
</a>

<style>



  
</style>