<a href="/">
    <img
      alt="Snail Logo"
    
      src="/images/snail.svg"
      class="w-25 light-logo"
    />
    <img
      alt="Snail Logo (Dark)"
      src="/images/dark-snail.svg"
      class="w-25 hidden dark-logo"
    />
  </a>


  <style>

    html.dark .dark-logo {
        display: block
    }
    html.dark .light-logo {
        display: none
    }



    
  </style>